[submodule "_ref/peercast-yt"]
	path = _ref/peercast-yt
	url = https://github.com/plonk/peercast-yt.git
[submodule "_ref/peercast-yayp"]
	path = _ref/peercast-yayp
	url = https://github.com/titagaki/peercast-yayp.git
