http://{$SITE_DOMAIN} {
    @indextxt path /index.txt
    handle @indextxt {
        reverse_proxy app:80
    }

    handle {
        redir https://{host}{uri} permanent
    }
}

{$SITE_DOMAIN} {
    @yp path /yp /yp/*
    handle @yp {
        reverse_proxy app:80
    }

    handle {
        root * /srv/www
        file_server
    }
}
